# Pandas Problemas

Usaremos un dataset llamado  "conjunto de datos iris de Fisher" que trae caracteristicas (ancho y largo de sepalos y petalos) de varias muestras provenientes de 3 especies especies distintas. 

Para traernos el dataset, importamos la data mediante la libreria sklearn, que se utiliza para implementar algoritmos de machine learning

In [0]:
from sklearn.datasets import load_iris
iris = load_iris()

#### observamos los elementos que tenemos como llaves

In [2]:
iris.keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names', 'filename'])

#### importamos pandas

In [0]:
import pandas as pd

#### empezamos definiendo un dataframe con las caracteristicas

In [4]:
df_1 = pd.DataFrame(iris['data'], columns= iris['feature_names'])
df_1.head(3)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2

#### y otro dataframe con las etiquetas, en estas etiquetas estan codificada la especia a la cual pertenece cada planta

In [21]:
df_2 = pd.DataFrame(iris['target'], columns=['name'])
df_2.sample(7)

     name
30      0
69      1
117     2
20      0
58      1
64      1
37      0

In [22]:
df_2['name'].unique()

array([0, 1, 2])

#### Y en esta celda los nombres de cada especie por orden de indice, o sea 0 es setosa, 1 es versicolor, 2 es virginica

In [23]:
iris['target_names']

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

#### 1) decodificar en df_2 el nombre de cada especie, esto es, reemplazar los numeros, por los nombres dados en target name, en df_2

In [0]:
df_2['name'] = df_2['name'].apply(lambda x: iris['target_names'][x])

#### 2) Hacer un join entre df_1 y df_2, ambos dataframes se encuentran ordenados llame a este nuevo dataframe df

In [0]:
df = df_1.join(df_2)

In [28]:
df.sample(5)

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)        name
27                 5.2               3.5  ...               0.2      setosa
19                 5.1               3.8  ...               0.3      setosa
117                7.7               3.8  ...               2.2   virginica
53                 5.5               2.3  ...               1.3  versicolor
149                5.9               3.0  ...               1.8   virginica

[5 rows x 5 columns]

#### 3) ¿Cuantas filas y cuantas columnas tiene el dataframe df?

#### 4) ¿que tipo de dato es la 4ta columna?,¿ cual es el tipo de dato de la 3ra?

#### 5) ¿Cuanto espacio ocupa el dataframe?

#### 6) Genere una columna area, que estime el area tomando el cuenta el ancho y largo de los sepalos

#### 7) ¿Cual es la media de tamaño de esa area?

####  8) ¿Cual es la media de esa area por especie? (groupby)

#### 9) Seleccionar una muestra de 20 plantas al azar y calcular el area total estimada que ocuparian

#### 10) generar un nuevo dataframe  con las muestras que tengan un area estimada mas pequeñas que la media

#### 11) Hacer un grafico de barras que muestre la cantidad de plantas que hay por especia en este nuevo dataframe

#### 12) realizar un grafico de torta en donde se muestre por especie, el desvio estandar del largo del petalo por especie