# Pandas

Pandas es una libreria para realizar operaciones con datos que tienen forma de tabular.

En pandas tenemos 2 estructuras importantes para trabajar estos datos, 

    1) Las Series: Son columnas en donde cada elemento se encuentra ordenado y diferenciado por posicion en la fila
    
    2) Los DataFrames : Son un conjunto de Series, o sea datos ordenados en forma tabular tipo tabla, cada dato es accedido haciendo referencia a la fila y columna donde se encuentra.
    
Ademas existen los objetos index, que permiten el acceso a los elementos en estas estructuras. Se utilizan distintas maneras para llevar adelante estas tareas como: indexing (fancy, boolean, int) , slicing (start, stop, step), etc.

## Series

Una de las formas más simples para generar una **Series** de prueba es generar números random para los valores y una lista de valores fijos para los índices.

In [0]:
import numpy as np
import pandas as pd

from IPython.display import display

#### Preparamos los valores para generar una serie

In [89]:
numeros = np.random.randn(10)
numeros

array([-1.42121723, -0.1534952 , -0.26905696,  2.23136679, -2.43476758,
        0.1127265 ,  0.37044454,  1.35963386,  0.50185721, -0.8442137 ])

In [90]:
indices_explicitos = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
indices_explicitos

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [0]:
pd.Series?

In [112]:
mi_serie = pd.Series(data  = numeros, 
                     index = indices_explicitos)  
mi_serie

a   -1.421217
b   -0.153495
c   -0.269057
d    2.231367
e   -2.434768
f    0.112727
g    0.370445
h    1.359634
i    0.501857
j   -0.844214
dtype: float64

In [0]:
mi_serie.name = 'numero'

In [95]:
mi_serie

a   -1.421217
b   -0.153495
c   -0.269057
d    2.231367
e   -2.434768
f    0.112727
g    0.370445
h    1.359634
i    0.501857
j   -0.844214
Name: numero, dtype: float64

## Indexing

Tenemos un nivel de indices para los elementos en una serie

In [113]:
mi_serie.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

In [115]:
mi_serie.iloc[3], mi_serie.loc['d']

(2.2313667888866044, 2.2313667888866044)

In [100]:
mi_serie[0:3]

a   -1.421217
b   -0.153495
c   -0.269057
Name: numero, dtype: float64

In [101]:
mi_serie['a':'d']

a   -1.421217
b   -0.153495
c   -0.269057
d    2.231367
Name: numero, dtype: float64

In [116]:
mi_serie.loc['a'::2]

a   -1.421217
c   -0.269057
e   -2.434768
g    0.370445
i    0.501857
dtype: float64

In [103]:
mi_serie['a'::2]

a   -1.421217
c   -0.269057
e   -2.434768
g    0.370445
i    0.501857
Name: numero, dtype: float64

## DataFrames

In [96]:
# Creamos el dataframe
data = {'name'     : ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'age'      : [42, 52, 36, 24, 73], 
        'preScore' : [4, 24, 31, 2, 3],
        'postScore': [25, 94, 57, 62, 70]}

df = pd.DataFrame( data )
df

    name  age  preScore  postScore
0  Jason   42         4         25
1  Molly   52        24         94
2   Tina   36        31         57
3   Jake   24         2         62
4    Amy   73         3         70

#### Para un DataFrame tenemos como minimo dos niveles de indices

In [104]:
df.columns

Index(['name', 'age', 'preScore', 'postScore'], dtype='object')

In [105]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [121]:
df = df.sort_values('age')
df

    name  age  preScore  postScore
3   Jake   24         2         62
2   Tina   36        31         57
0  Jason   42         4         25
1  Molly   52        24         94
4    Amy   73         3         70

In [123]:
df.loc[3:0]

    name  age  preScore  postScore
3   Jake   24         2         62
2   Tina   36        31         57
0  Jason   42         4         25

In [126]:
df.iloc[0:3 ,  1]

3    24
2    36
0    42
Name: age, dtype: int64

In [110]:
df.iloc[1:3, :]

    name  age  preScore  postScore
1  Molly   52        24         94
2   Tina   36        31         57

In [128]:
df['age']

3    24
2    36
0    42
1    52
4    73
Name: age, dtype: int64

### Indexación Booleana

Otra operación común es utilizar vectores de booleanos para filtrar valores de una Series o un DataFrame. 

Se utilizan los operadores: `|` para _or_, `&` para _and_ y `~` para la _negación_.

Se los debe agrupar utilizando paréntesis.

#### Para operar con los indices, hay que reconocer algunas de sus caracteristicas

In [0]:
np.random.seed(1)
enteros_1 = np.random.randint(100, size=30)
enteros_unicos_1 = set(enteros_1)

np.random.seed(2)
enteros_2 = np.random.randint(100, size=30)
enteros_unicos_2 = set(enteros_2)

In [130]:
indice_1 = pd.Index(enteros_unicos_1)
indice_1

Int64Index([ 1,  5,  6,  9, 11, 12, 13, 14, 16, 18, 20, 25, 28, 29, 37, 50, 64,
            68, 71, 72, 75, 76, 79, 84, 86, 87, 94, 96],
           dtype='int64')

In [131]:
indice_2 = pd.Index(enteros_unicos_2)
indice_2

Int64Index([ 4,  7, 15, 20, 22, 31, 33, 34, 37, 38, 39, 40, 42, 43, 47, 49, 51,
            58, 63, 67, 69, 72, 75, 82, 85, 88, 90, 95],
           dtype='int64')

In [132]:
indice_1.shape

(28,)

In [133]:
start = 3
stop  = 10
step  = 2

indice_1[start:stop:step]

Int64Index([9, 12, 14, 18], dtype='int64')

In [134]:
# interseccion
indice_1 & indice_2

Int64Index([20, 37, 72, 75], dtype='int64')

In [136]:
# union
indice_1 | (indice_2 & indice_1)

Int64Index([ 1,  5,  6,  9, 11, 12, 13, 14, 16, 18, 20, 25, 28, 29, 37, 50, 64,
            68, 71, 72, 75, 76, 79, 84, 86, 87, 94, 96],
           dtype='int64')

#### Aplicando boolean indexing sobre las estructuras de pandas

In [137]:
mi_serie = pd.Series(range(-3, 4))
mi_serie

0   -3
1   -2
2   -1
3    0
4    1
5    2
6    3
dtype: int64

**Encontrar los valores mayores a 0**

In [138]:
mayores_cero = mi_serie > 0
mayores_cero

0    False
1    False
2    False
3    False
4     True
5     True
6     True
dtype: bool

In [139]:
mi_serie[mayores_cero]

4    1
5    2
6    3
dtype: int64

**Encontrar los valores < -1 y > 0.5**

In [140]:
condicion_1 = mi_serie < -1
condicion_2 = mi_serie > 0.5

mi_serie[ condicion_1 | condicion_2]

0   -3
1   -2
4    1
5    2
6    3
dtype: int64

In [141]:
mi_serie[(mi_serie < -1) | (mi_serie > 0.5)]

0   -3
1   -2
4    1
5    2
6    3
dtype: int64

**Encontrar los valores que no son menores a 0**

In [144]:
~(mi_serie < 0)

0    False
1    False
2    False
3     True
4     True
5     True
6     True
dtype: bool

In [145]:
mi_serie[~(mi_serie < 0)]

3    0
4    1
5    2
6    3
dtype: int64

**¿Cómo encontrarían los valores > a 2?**

In [148]:
mi_serie

a   -3
b   -2
c   -1
d    0
e    1
f    2
g    3
dtype: int64

In [149]:
mi_serie[mi_serie > 2]

g    3
dtype: int64

## Fancy indexing

El fancy indexing permite seleccionar elementos, dada una lista de indices

In [0]:
mi_serie.index = ['a', 'b','c', 'd', 'e', 'f', 'g']

In [151]:
mi_serie

a   -3
b   -2
c   -1
d    0
e    1
f    2
g    3
dtype: int64

In [153]:
mi_serie[['a', 'c']]

a   -3
c   -1
dtype: int64

#### Estos elementos pueden ser resultado de operaciones sobre los indices

In [154]:
mi_serie.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g'], dtype='object')

In [155]:
palabras_en_vaca = [x for x in mi_serie.index if x in 'vaca']
palabras_en_vaca

['a', 'c']

In [156]:
mi_serie[palabras_en_vaca]

a   -3
c   -1
dtype: int64

### Funcionalidad

#### Algunos metodos de Series

**head()** : muestra los primeros elementos de la serie (default 5)

**tail()** : muestra los ultimos elementos de la serie (defualt 5)

**describe()** : Devuelve estadistica descriptiva

In [160]:
mi_serie.head()

a   -3
b   -2
c   -1
d    0
e    1
dtype: int64

In [161]:
mi_serie.tail()

c   -1
d    0
e    1
f    2
g    3
dtype: int64

**Algunas estadísticas descriptivas**

In [162]:
mi_serie.describe()

count    7.000000
mean     0.000000
std      2.160247
min     -3.000000
25%     -1.500000
50%      0.000000
75%      1.500000
max      3.000000
dtype: float64

**Veamos del índice 'c' hasta el final**

In [163]:
df

    name  age  preScore  postScore
3   Jake   24         2         62
2   Tina   36        31         57
0  Jason   42         4         25
1  Molly   52        24         94
4    Amy   73         3         70

In [164]:
# Seleccionar la columna preScore
pts_col = df['preScore']
pts_col

3     2
2    31
0     4
1    24
4     3
Name: preScore, dtype: int64

In [165]:
# Encontrar el desvío estandar para preScore
pts_col.std()

13.663820841916802

In [166]:
# Encontrar la media para la columna preTestScore
mean = pts_col.mean()
mean

12.8

In [167]:
pts_col

3     2
2    31
0     4
1    24
4     3
Name: preScore, dtype: int64

In [169]:
pts_col.mean()

12.8

In [168]:
# Seleccionar las filas de preTestScore que sean mayores que su media
pts_col[pts_col > pts_col.mean()]

2    31
1    24
Name: preScore, dtype: int64

In [170]:
df

    name  age  preScore  postScore
3   Jake   24         2         62
2   Tina   36        31         57
0  Jason   42         4         25
1  Molly   52        24         94
4    Amy   73         3         70

In [171]:
df['postScore'] - df['preScore']

3    60
2    26
0    21
1    70
4    67
dtype: int64

In [173]:
# Crear una nueva columna del dataframe que sean la diferencia entre el valor de preTestScore y postTestScore de cada fila
df['dif'] = df['postScore'] + df['preScore']
df

    name  age  preScore  postScore  diff  dif
3   Jake   24         2         62    60   64
2   Tina   36        31         57    26   88
0  Jason   42         4         25    21   29
1  Molly   52        24         94    70  118
4    Amy   73         3         70    67   73

In [0]:
df = df.drop(['dif'], axis='columns')

In [178]:
df

    name  age  preScore  postScore  diff
3   Jake   24         2         62    60
2   Tina   36        31         57    26
0  Jason   42         4         25    21
1  Molly   52        24         94    70
4    Amy   73         3         70    67

In [179]:
# Encontrar la media, mediana, moda y desvío standard de las edades de los estudiantes
df['age'].mean()

45.4

In [180]:
df['age'].median()

42.0

In [183]:
df['age']

3    24
2    36
0    42
1    52
4    73
Name: age, dtype: int64

In [184]:
df['age']

3    24
2    36
0    42
1    52
4    73
Name: age, dtype: int64

In [185]:
df['age'].std()

18.46076921474292

In [0]:
# Crear otro dataframe nuevo a mano de al menos 3 columnas y realizar todos los ejercicios anteriores sobre el nuevo dataframe
df1 = pd.DataFrame([[1, 'a', 'i'], 
                    [2, 'b', 'ii']], 
                   columns=['numbers', 'letters', 'roman'])
df1

## Concatenación y Joins de DataFrames

### Concatenacion

In [0]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                    index=[4, 5, 6, 7])

In [187]:
display(df1, df2)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [0]:
# Definamos dos dataframes como una variable
frames = [df1, df2]

In [189]:
# Concatenemos ambos dataframes:
result = pd.concat(frames)
result

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

### Left joins

In [193]:
import pandas as pd
from IPython.display import Image

raw_data = {'subject_id': ['1', '2', '3', '4', '5'],
            'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
            'last_name' : ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches'] }

df_a = pd.DataFrame(raw_data, 
                    columns = ['subject_id', 'first_name', 'last_name'])
df_a

  subject_id first_name last_name
0          1       Alex  Anderson
1          2        Amy  Ackerman
2          3      Allen       Ali
3          4      Alice      Aoni
4          5     Ayoung   Atiches

In [196]:
raw_data

{'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
 'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan'],
 'subject_id': ['4', '5', '6', '7', '8']}

In [194]:
raw_data = { 'subject_id': ['4', '5', '6', '7', '8'],
             'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
             'last_name' : ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}

df_b = pd.DataFrame(raw_data, columns = ['subject_id', 'first_name', 'last_name'])
df_b

  subject_id first_name last_name
0          4      Billy    Bonder
1          5      Brian     Black
2          6       Bran   Balwner
3          7      Bryce     Brice
4          8      Betty    Btisan

In [195]:
display(df_a, df_b)

  subject_id first_name last_name
0          1       Alex  Anderson
1          2        Amy  Ackerman
2          3      Allen       Ali
3          4      Alice      Aoni
4          5     Ayoung   Atiches

  subject_id first_name last_name
0          4      Billy    Bonder
1          5      Brian     Black
2          6       Bran   Balwner
3          7      Bryce     Brice
4          8      Betty    Btisan

In [197]:
# Utilizando el valor left en la forma del join produce una lista completa de las filas de df_a, 
# con las filas que matchean de df_b. Si no hay matcheo, las columnas que vienen de df_b serán nulas:

pd.merge(df_a, 
         df_b, 
         on='subject_id', 
         how='left')

  subject_id first_name_x last_name_x first_name_y last_name_y
0          1         Alex    Anderson          NaN         NaN
1          2          Amy    Ackerman          NaN         NaN
2          3        Allen         Ali          NaN         NaN
3          4        Alice        Aoni        Billy      Bonder
4          5       Ayoung     Atiches        Brian       Black

In [198]:
# Lo mismo pero con right
pd.merge(df_a, 
         df_b, 
         on='subject_id', 
         how='right')

  subject_id first_name_x last_name_x first_name_y last_name_y
0          4        Alice        Aoni        Billy      Bonder
1          5       Ayoung     Atiches        Brian       Black
2          6          NaN         NaN         Bran     Balwner
3          7          NaN         NaN        Bryce       Brice
4          8          NaN         NaN        Betty      Btisan

### Inner y outer

In [199]:
# Como mencionamos antes utilizar la forma outer (OUTER JOIN) 
# produce un conjunto de todas las filas en df_a o df_b. 
# Todas las columnas tendran valores si la fila de un lado tiene su correspondiente en el otro.
# Si no hya matcheo las columnas del que no había valor se completan con null.

pd.merge(df_a, 
         df_b, 
         on='subject_id', 
         how='outer')

  subject_id first_name_x last_name_x first_name_y last_name_y
0          1         Alex    Anderson          NaN         NaN
1          2          Amy    Ackerman          NaN         NaN
2          3        Allen         Ali          NaN         NaN
3          4        Alice        Aoni        Billy      Bonder
4          5       Ayoung     Atiches        Brian       Black
5          6          NaN         NaN         Bran     Balwner
6          7          NaN         NaN        Bryce       Brice
7          8          NaN         NaN        Betty      Btisan

In [200]:
# Con inner join
pd.merge(df_a, 
         df_b, 
         on='subject_id',
         how='inner')

  subject_id first_name_x last_name_x first_name_y last_name_y
0          4        Alice        Aoni        Billy      Bonder
1          5       Ayoung     Atiches        Brian       Black

## Apply

In [0]:
movies = [
{
"name": "Usual Suspects", 
"imdb": 7.0,
"category": "Thriller"
},
{
"name": "Hitman",
"imdb": 6.3,
"category": "Action"
},
{
"name": "Dark Knight",
"imdb": 9.0,
"category": "Adventure"
},
{
"name": "The Help",
"imdb": 8.0,
"category": "Drama"
},
{
"name": "The Choice",
"imdb": 6.2,
"category": "Romance"
},
{
"name": "Colonia",
"imdb": 7.4,
"category": "Romance"
},
{
"name": "Love",
"imdb": 6.0,
"category": "Romance"
},
{
"name": "Bride Wars",
"imdb": 5.4,
"category": "Romance"
},
{
"name": "AlphaJet",
"imdb": 3.2,
"category": "War"
},
{
"name": "Ringing Crime",
"imdb": 4.0,
"category": "Crime"
},
{
"name": "Joking muck",
"imdb": 7.2,
"category": "Comedy"
},
{
"name": "What is the name",
"imdb": 9.2,
"category": "Suspense"
},
{
"name": "Detective",
"imdb": 7.0,
"category": "Suspense"
},
{
"name": "Exam",
"imdb": 4.2,
"category": "Thriller"
},
{
"name": "We Two",
"imdb": 7.2,
"category": "Romance"
}
]

In [202]:
df = pd.DataFrame(movies)
df

     category  imdb              name
0    Thriller   7.0    Usual Suspects
1      Action   6.3            Hitman
2   Adventure   9.0       Dark Knight
3       Drama   8.0          The Help
4     Romance   6.2        The Choice
5     Romance   7.4           Colonia
6     Romance   6.0              Love
7     Romance   5.4        Bride Wars
8         War   3.2          AlphaJet
9       Crime   4.0     Ringing Crime
10     Comedy   7.2       Joking muck
11   Suspense   9.2  What is the name
12   Suspense   7.0         Detective
13   Thriller   4.2              Exam
14    Romance   7.2            We Two

In [0]:
np.log?

In [204]:
# apply sobre una serie

df['imdb'].apply(np.log)

0     1.945910
1     1.840550
2     2.197225
3     2.079442
4     1.824549
5     2.001480
6     1.791759
7     1.686399
8     1.163151
9     1.386294
10    1.974081
11    2.219203
12    1.945910
13    1.435085
14    1.974081
Name: imdb, dtype: float64

In [205]:
# podemos asignarlo a una nueva columna
df['ln_imdb'] = df['imdb'].apply(np.log)
df

     category  imdb              name   ln_imdb
0    Thriller   7.0    Usual Suspects  1.945910
1      Action   6.3            Hitman  1.840550
2   Adventure   9.0       Dark Knight  2.197225
3       Drama   8.0          The Help  2.079442
4     Romance   6.2        The Choice  1.824549
5     Romance   7.4           Colonia  2.001480
6     Romance   6.0              Love  1.791759
7     Romance   5.4        Bride Wars  1.686399
8         War   3.2          AlphaJet  1.163151
9       Crime   4.0     Ringing Crime  1.386294
10     Comedy   7.2       Joking muck  1.974081
11   Suspense   9.2  What is the name  2.219203
12   Suspense   7.0         Detective  1.945910
13   Thriller   4.2              Exam  1.435085
14    Romance   7.2            We Two  1.974081

In [212]:
df['category'].lower()

AttributeError: ignored

In [213]:
df.loc[ : , ['name', 'category'] ].applymap(lambda x: x.lower())

                name   category
0     usual suspects   thriller
1             hitman     action
2        dark knight  adventure
3           the help      drama
4         the choice    romance
5            colonia    romance
6               love    romance
7         bride wars    romance
8           alphajet        war
9      ringing crime      crime
10       joking muck     comedy
11  what is the name   suspense
12         detective   suspense
13              exam   thriller
14            we two    romance

In [214]:
# sobre el dataframe 
df[["ln_imdb", "imdb"]].apply(sum, axis='rows')

ln_imdb    27.465119
imdb       97.300000
dtype: float64

In [215]:
df[["ln_imdb", "imdb"]].apply(sum, axis='columns')

0      8.945910
1      8.140550
2     11.197225
3     10.079442
4      8.024549
5      9.401480
6      7.791759
7      7.086399
8      4.363151
9      5.386294
10     9.174081
11    11.419203
12     8.945910
13     5.635085
14     9.174081
dtype: float64

In [223]:
df['category'].value_counts()

Romance      5
Suspense     2
Thriller     2
Action       1
Comedy       1
War          1
Crime        1
Drama        1
Adventure    1
Name: category, dtype: int64

## Groupby

In [219]:
gresult = df.groupby('category').agg('mean')
gresult

           imdb   ln_imdb
category
Action     6.30  1.840550
Adventure  9.00  2.197225
Comedy     7.20  1.974081
Crime      4.00  1.386294
Drama      8.00  2.079442
Romance    6.44  1.855654
Suspense   8.10  2.082557
Thriller   5.60  1.690497
War        3.20  1.163151

In [224]:
gresult['imdb']

category
Action       6.30
Adventure    9.00
Comedy       7.20
Crime        4.00
Drama        8.00
Romance      6.44
Suspense     8.10
Thriller     5.60
War          3.20
Name: imdb, dtype: float64

In [225]:
gresult['imdb']['Action']

6.3

In [227]:
df['media_cat'] = df['category'].apply(lambda x: gresult['imdb'][x])
df

     category  imdb              name   ln_imdb  media_cat
0    Thriller   7.0    Usual Suspects  1.945910       5.60
1      Action   6.3            Hitman  1.840550       6.30
2   Adventure   9.0       Dark Knight  2.197225       9.00
3       Drama   8.0          The Help  2.079442       8.00
4     Romance   6.2        The Choice  1.824549       6.44
5     Romance   7.4           Colonia  2.001480       6.44
6     Romance   6.0              Love  1.791759       6.44
7     Romance   5.4        Bride Wars  1.686399       6.44
8         War   3.2          AlphaJet  1.163151       3.20
9       Crime   4.0     Ringing Crime  1.386294       4.00
10     Comedy   7.2       Joking muck  1.974081       7.20
11   Suspense   9.2  What is the name  2.219203       8.10
12   Suspense   7.0         Detective  1.945910       8.10
13   Thriller   4.2              Exam  1.435085       5.60
14    Romance   7.2            We Two  1.974081       6.44

In [0]:
def corte(x):
  if x < 5:
    return 'mala'
  else:
    return 'buena'

In [0]:
df['m_discr'] = df['media_cat'].apply(corte)
df

## Agregaciones y sumarizaciones con tablas Pivot

In [0]:
import pandas as pd
import numpy as np

In [229]:
from google.colab import files
uploaded = files.upload()

Saving sales.csv to sales.csv

In [231]:
!ls

sales.csv  sample_data

In [0]:
# Leamos un csv
df = pd.read_csv('sales.csv')

In [232]:
# Podemos ver una muestra con .head(), .tail() o .sample()
df.columns

Index(['Account', ' Name', ' Rep', ' Manager', ' Product', ' Quantity',
       ' Price', ' Status'],
      dtype='object')

In [0]:
df.columns = [x.strip() for x in df.columns]

In [234]:
df.head(2)

   Account              Name            Rep  ... Quantity  Price      Status
0   714466   Trantow-Barrows   Craig Booker  ...        1  30000   presented
1   714466   Trantow-Barrows   Craig Booker  ...        1  10000   presented

[2 rows x 8 columns]

In [0]:
df['Name'] = df['Name'].apply(str.strip)

In [239]:
df['Name'].unique()

array(['Trantow-Barrows', 'Fritsch', 'Kiehn-Spinka', 'Kulas Inc',
       'Jerde-Hilpert', 'Barton LLC', 'Herman LLC', 'Purdy-Kunde',
       'Stokes LLC', 'Kassulke', 'Keeling LLC', 'Koepp Ltd'], dtype=object)

In [0]:
pd.pivot_table?

In [240]:
# El pivot más simple se puede realizar con un DataFrame y eligir un campo del mismo para el índice
pd.pivot_table(df, index=["Name"])

                 Account   Price  Quantity
Name
Barton LLC        740150   35000  1.000000
Fritsch           737550   35000  1.000000
Herman LLC        141962   65000  2.000000
Jerde-Hilpert     412290    5000  2.000000
Kassulke          307599    7000  3.000000
Keeling LLC       688981  100000  5.000000
Kiehn-Spinka      146832   65000  2.000000
Koepp Ltd         729833   35000  2.000000
Kulas Inc         218895   25000  1.500000
Purdy-Kunde       163416   30000  1.000000
Stokes LLC        239344    7500  1.000000
Trantow-Barrows   714466   15000  1.333333

In [242]:
# También se puede indexar el pivot por múltiples valores pasando una lista
pd.pivot_table(df, index=["Manager","Rep"])

                                           Account         Price  Quantity
Manager        Rep
 Craig Booker   Russel and Anderson  737550.000000  35000.000000  1.000000
 Debra Henley   Craig Booker         714466.000000  15000.000000  1.333333
                Daniel Hilton        194874.000000  38333.333333  1.666667
                John Smith           576220.000000  20000.000000  1.500000
 Fred Anderson  Cedric Moss          196016.500000  27500.000000  1.250000
                Wendy Yule           716215.666667  56666.666667  3.000000
 Wendy Yule     Ondricka and Metz    307599.000000   7000.000000  3.000000

In [243]:
# Lo que realmente nos interesa es una columna de precio. Como las columnas Account y Quantity no son útiles removamosla. 
# También, definamos la columna 'Price' de forma explícita con el campo 'values'.

pd.pivot_table(df, 
               index=["Manager","Rep"],
               values=["Price"])

                                            Price
Manager        Rep
 Craig Booker   Russel and Anderson  35000.000000
 Debra Henley   Craig Booker         15000.000000
                Daniel Hilton        38333.333333
                John Smith           20000.000000
 Fred Anderson  Cedric Moss          27500.000000
                Wendy Yule           56666.666667
 Wendy Yule     Ondricka and Metz     7000.000000

In [244]:
df

    Account             Name  ...   Price      Status
0    714466  Trantow-Barrows  ...   30000   presented
1    714466  Trantow-Barrows  ...   10000   presented
2    714466  Trantow-Barrows  ...    5000     pending
3    737550          Fritsch  ...   35000    declined
4    146832     Kiehn-Spinka  ...   65000         won
5    218895        Kulas Inc  ...   40000     pending
6    218895        Kulas Inc  ...   10000   presented
7    412290    Jerde-Hilpert  ...    5000     pending
8    740150       Barton LLC  ...   35000    declined
9    141962       Herman LLC  ...   65000         won
10   163416      Purdy-Kunde  ...   30000   presented
11   239344       Stokes LLC  ...    5000     pending
12   239344       Stokes LLC  ...   10000   presented
13   307599         Kassulke  ...    7000         won
14   688981      Keeling LLC  ...  100000         won
15   729833        Koepp Ltd  ...   65000    declined
16   729833        Koepp Ltd  ...    5000   presented

[17 rows x 8 columns]

In [245]:
# Agregfamos una operacion de sumarizacion
pd.pivot_table(df,
               index= ["Manager","Rep"],
               values  = ["Price"],
               aggfunc = np.sum    )

                                      Price
Manager        Rep
 Craig Booker   Russel and Anderson   35000
 Debra Henley   Craig Booker          45000
                Daniel Hilton        115000
                John Smith            40000
 Fred Anderson  Cedric Moss          110000
                Wendy Yule           170000
 Wendy Yule     Ondricka and Metz      7000

In [246]:
# El argumento 'columns' es opcional. Los valores provistos 
# son una forma adicional para segmentar los valores. 
# La funcíon de agregación de aplica a los valores que se listan.
pd.pivot_table(df,
               index=["Manager","Rep"],
               values=["Price"],
               columns=["Product"],
               aggfunc=[np.sum])

                                          sum
                                        Price
Product                                   CPU  Maintenance  Monitor  Software
Manager        Rep
 Craig Booker   Russel and Anderson   35000.0          NaN      NaN       NaN
 Debra Henley   Craig Booker          30000.0       5000.0      NaN   10000.0
                Daniel Hilton        105000.0          NaN      NaN   10000.0
                John Smith            35000.0       5000.0      NaN       NaN
 Fred Anderson  Cedric Moss           95000.0       5000.0      NaN   10000.0
                Wendy Yule           165000.0          NaN   5000.0       NaN
 Wendy Yule     Ondricka and Metz         NaN       7000.0      NaN       NaN

In [249]:
# El argumento margins nos permite ver los totales
pd.pivot_table(df,index=["Manager","Rep","Product"],
               values=["Price","Quantity"],
               margins=True)

                                                  Price  Quantity
Manager        Rep                  Product
 Craig Booker   Russel and Anderson  CPU          35000  1.000000
 Debra Henley   Craig Booker         CPU          30000  1.000000
                                     Maintenance   5000  2.000000
                                     Software     10000  1.000000
                Daniel Hilton        CPU          52500  2.000000
                                     Software     10000  1.000000
                John Smith           CPU          35000  1.000000
                                     Maintenance   5000  2.000000
 Fred Anderson  Cedric Moss          CPU          47500  1.500000
                                     Maintenance   5000  1.000000
                                     Software     10000  1.000000
                Wendy Yule           CPU          82500  3.500000
                                     Monitor       5000  2.000000
 Wendy Yule     Ondricka and Metz    Maintenance   7000  3.000000
All                                               30705  1.764706

## Plotting

In [0]:
%matplotlib inline

In [0]:
# Comando básico para plottear (con una serie)
import matplotlib.pyplot as plt

ts = pd.Series(np.random.randn(1000), 
               index=pd.date_range('1/1/2010', periods=1000))

ts = ts.cumsum()

ts.plot()
plt.show()

In [0]:
# Lo mismo pero con un DataFrame

df = pd.DataFrame(np.random.randn(1000, 4), 
                  index   = pd.date_range('1/1/2010', periods=1000), 
                  columns = list('ABCD'))

df = df.cumsum()
df.plot()
plt.show()

In [0]:
# Una columna versus otra
np.random.seed(11)

d = {'X' : range(10), 'Y' : np.random.rand(10)}

df = pd.DataFrame(d)
df.plot(x='X', y='Y')

plt.show()

In [0]:
np.random.seed(11)
d = {'X' : range(10), 'Y' : np.random.rand(10)}
df = pd.DataFrame(d)

fig, ax = plt.subplots()

df.plot(x='X', y='Y', ax=ax)

plt.show()

In [0]:
# Cambiar el color, agregar grilla y cambiar rotacion de ticks
np.random.seed(11)

d = {'X' : range(10), 'Y' : np.random.rand(10)}

df = pd.DataFrame(d)

df.plot(x = 'X', 
        y = 'Y',         
        rot = 45,
        grid  = True, 
        color = 'r', 
        figsize = (5,5))


plt.show()

In [0]:
np.random.seed(11)
d = {'X' : range(10), 'Y' : np.random.rand(10)}
df = pd.DataFrame(d)

ax = df.plot(x='X', 
             y='Y', 
             xlim=(2,5), 
             title='Testing Pandas Plot')

ax.set_ylabel("y label")  # Back to matplotlib

plt.show()

In [0]:
# Multiples plots en el mismo grafico

np.random.seed(10)
n = 100
x = pd.date_range('2001-01-01', periods=n, freq='M')

y1 = (pd.Series(np.random.randn(n)).diff() + 5).tolist()
y2 = (pd.Series(np.random.randn(n)).diff()).tolist()

df = pd.DataFrame({'y2':y2, 'y1':y1}, index=x)

plt.figure()
ax = df['y2'].plot(kind='line', label='y2')

df['y1'].plot(kind='line', ax=ax, label='y1')

ax.legend()
plt.show()

In [0]:
# Dos ejes 

np.random.seed(17)

df = pd.DataFrame(np.random.randn(5, 2), columns=['A', 'B'])

fig, ax = plt.subplots()

ax = df.plot(y = 'A',
            use_index=True, 
            ax=ax, 
            style='b-')

df.plot(y = 'B', 
        ax = ax, 
        use_index=True, 
        style = 'r--', 
        secondary_y = True, 
        mark_right=False)

plt.show()

In [0]:
# Subplots

df = pd.DataFrame(np.random.randn(1000, 2), 
                  index=pd.date_range('1/1/2010', periods=1000), 
                  columns=list('AB'))
df = df.cumsum()

df.plot(subplots=True, layout=(2,1))

plt.show()

In [0]:
# Grafico de Barras
import pandas as pd
import matplotlib.pyplot as plt
df = pd.DataFrame( [(2014, 30, 15), (2015, 10, 20), (2007, 5, 3)], columns=['year','v1','v2'] )

df.set_index('year', inplace=True)

df.plot(kind='bar')

plt.show()

In [0]:
# Barras "stackeadas"
data = [(2014, 30, 15), (2015, 10, 20), (2007, 5, 3)]

df = pd.DataFrame(data, 
                  columns = ['year','v1','v2'] )

df.set_index('year', inplace=True)

df.plot(kind='bar', stacked=True)

plt.show()

In [0]:
# Barras horizontales

data =  [(2014, 30, 15), (2015, 10, 20), (2007, 5, 3)]
df = pd.DataFrame(data, columns=['year','v1','v2'] )

df.set_index('year', inplace=True)

df.plot(kind='barh')
plt.show()

In [0]:
# Nube de puntos

df = pd.DataFrame(np.random.randn(50, 4), 
                  columns = ['a', 'b', 'c', 'd'])

ax = df.plot(kind='scatter', x='a', y='b', color='red', label='Group 1')

df.plot(kind='scatter', x='c', y='d', color='g', label='Group 2', ax=ax)

plt.show()

In [0]:
# Areas

df = pd.DataFrame(np.random.rand(10, 3), 
                  columns=['a', 'b', 'c'])

df.plot(kind='area', stacked=False)
plt.show()

In [0]:
# Histograma

x = ['A'] * 300 + ['B'] * 400 + ['C'] * 300
y = np.random.randn(1000)

df = pd.DataFrame({'Letter': x, 'N': y})

#df[df['Letter'] == 'A'].hist()

df['N'].hist(by=df['Letter'])

plt.show()